/* vars */
:root {
  --main-color: #900c3f;
  --add-color: #ffc300;
  --spend-color: #c70039;
  --main-hover-color: #c786a0;
  --add-50-color: #ffe180;
  --spend-50-color: #e3809c;
  --shadow: 0px 1px 5px 0px rgba(34, 60, 80, 0.2);
}
/* end vars */

/* reset bootstrap style */
.navbar-inverse {
  background-color: var(--main-color);
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand i {
  width: 25px;
  font-size: 25px;
  margin-right: 8px;
  margin-top: -2px;
}
.navbar-nav {
  text-align: center;
}
.field-savecoin-id,
.field-savecoin-act {
  display: none;
}
/* end reset */

/* main style */
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
h3 {
  padding: 0;
  margin: 20px auto;
  text-align: center;
}
/* top plates */
.top__inner {
  position: relative;
}
.income,
.spend,
.balance {
  text-align: center;
  color: white;
  padding: 15px 30px;
  border-radius: 3px;
  margin-bottom: 15px;
  position: relative;
  box-shadow: var(--shadow);
}
.income {
  background-color: var(--add-color);
}
.spend {
  background-color: var(--spend-color);
}
.balance {
  background-color: var(--main-color);
}

.income__text,
.spend__text,
.balance__text {
  display: block;
  font-size: 18px;
}
.income__number,
.spend__number,
.balance__number {
  font-size: 35px;
}
.income__currency,
.spend__currency,
.balance__currency {
  font-size: 24px;
}
.income__add,
.spend__add {
  font-size: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  top: calc(50% - 15px);
  right: 25px;
  bottom: 0;
  cursor: pointer;
  user-select: none;
  transition: 0.1s;
}
.income__add-inner,
.spend__add-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.income__add span,
.spend__add span {
  position: absolute;
  transition: 0.1s;
}
.income__add span:nth-child(1),
.spend__add span:nth-child(1) {
  width: 30px;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
}
.income__add span:nth-child(2),
.spend__add span:nth-child(2) {
  width: 3px;
  height: 30px;
  border-radius: 3px;
  background-color: #fff;
}
.income__add:hover span {
  background-color: var(--add-50-color);
}
.spend__add:hover span {
  background-color: var(--spend-50-color);
}
.income__add.active,
.spend__add.active {
  transform: rotate(45deg);
}
/* end top plates */

/* add item carts */
#add-income,
#add-spend {
  position: absolute;
  z-index: 10;
  width: 100%;
  padding: 0 15px;
  margin: 0 -15px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-30px);
  transition: 0.3s;
}
#add-income.active,
#add-spend.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}
#add-income form {
  padding: 15px;
  border-radius: 3px;
  background-color: var(--add-color);
  box-shadow: var(--shadow);
}
#add-spend form {
  padding: 15px;
  border-radius: 3px;
  background-color: var(--spend-color);
  color: #fff !important;
  box-shadow: var(--shadow);
}
#add-spend .control-label,
#add-spend .help-block {
  color: #fff !important;
}
/* end add item carts */

/* stats */
.stats__title {
  text-align: center;
}
.stats-item li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  width: 100%;
  font-style: 16px;
  font-weight: 600;
  border-radius: 3px;
  margin-bottom: 5px;
  transition: 0.1s;
}
.stats-item li a[data-act="0"] {
  border: 1px solid var(--add-color);
  background: var(--add-50-color);
}
.stats-item li a[data-act="1"] {
  border: 1px solid var(--spend-color);
  background: var(--spend-50-color);
}

.stats-item li a[data-act="0"]:hover {
  background-color: var(--add-color);
  color: #fff;
}
.stats-item li a[data-act="1"]:hover {
  background-color: var(--spend-color);
  color: #fff;
}
.stats-item li a[data-act="0"] span:first-child::before {
  content: "+ ₽";
  margin-right: 2px;
}
.stats-item li a[data-act="1"] span:first-child::before {
  content: "- ₽";
  margin-right: 2px;
}
/* end stats */

/* modal */
.modal {
  width: 100%;
  display: block !important;
  pointer-events: none;
  max-width: 400px;
  height: min-content;
  margin: auto;
  box-shadow: var(--shadow);
  transition: 0.3s;
  transform: translateY(30px);
  opacity: 0;
}
.modal.active {
  display: block;
  transform: translateY(0px);
  opacity: 1;
  pointer-events: all;
}
.modal__inner {
  position: relative;
  background: var(--main-color);
  color: #fff;
  z-index: 10;
  border: 1px solid var(--main-color);
  border-radius: 3px;
  padding: 20px;
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
}
.modal__close-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.modal__close span {
  position: absolute;
  background: #fff;
  width: 20px;
  height: 3px;
  border-radius: 3px;
  transition: 0.1s;
}
.modal__close:hover span {
  background: #c786a0;
}
.modal__close span:nth-child(1) {
  transform: rotate(45deg);
}
.modal__close span:nth-child(2) {
  transform: rotate(135deg);
}
/* end modal */
/* end main style */
