/* vars */
:root {
  --main-color: #900c3f;
}
/* end vars */

/* reset bootstrap style */
.navbar-inverse {
  background-color: var(--main-color);
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand i {
  width: 25px;
  font-size: 25px;
  margin-right: 8px;
  margin-top: -2px;
}
.navbar-nav {
  text-align: center;
}
/* end reset */

/* main style */
.income,
.spend,
.balance {
  text-align: center;
  color: white;
  padding: 15px 30px;
  border-radius: 3px;
  margin-bottom: 15px;
}
.income {
  background-color: #ffc300;
}
.spend {
  background-color: #c70039;
}
.balance {
  background-color: var(--main-color);
}

.income__text,
.spend__text,
.balance__text {
  display: block;
  font-size: 18px;
}
.income__number,
.spend__number,
.balance__number {
  font-size: 35px;
}
.income__currency,
.spend__currency,
.balance__currency {
  font-size: 24px;
}

.stats form {
  padding: 15px;
  border-radius: 3px;
  background-color: #ffc300;
}
/* end main style */
